.home{
    position: relative;
    width: 1920px;
    height: 990px;
    background-color: indianred;
}
.Login_box{
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,50%);
    display: flex;
    align-items: center;
}
.Login_box .right_box{
    width: 600px;
    height: 600px;
}
.Login_box .right_box img{
    width: 500px;
    height: 500px;
}