.home{
    height: 935px;
    background-color: #8B7568;
}
.Login_box{
    background-color: #fff;
    display: flex;
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Right_box .Login_title{
    font-size: 40px;
    padding: 40px 0;
    font-weight: 500;
}
.Login_box .right_box{
     width: 600px;
    height: 600px; 
}
.Login_box .right_box img{
     width: 500px;
    height: 600px; 
}
.Right_box .user_input{
    border: 2px solid #8B7568;
    border-radius: 30px;
    padding: 10px;
    margin: 20px 0;
    width: 300px;
    display: flex;
    align-items: center;
}
.Right_box .user_input input{
    border: none;
    margin-left: 10px;
    padding: 5px;
    
}
.Right_box .user_input input:focus{
    outline: none;
}
.Right_box .Right_footer{
    display: flex;
    align-items: center;
    color: #8B7568;
}
.Right_box .Right_footer .footer_left{
    display: flex;
    align-items: center;
}
.Right_box .Right_footer .footer_rigth{
    margin-left: auto;
}
.Right_box  .login_btn{
    margin-top: 100px;
    background-color: #8B7568;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: .2rem;
    text-align: center;
    border-radius: 30px;
    padding: 10px 0;
    cursor: pointer;
}